body {
  background-color: darkblue;
  color: black;
}
.card, .input-group {
  margin: 0 auto;
}
.card {
  border: 3px solid gold;
  background-color: lightgray;
  padding: 3px 12px;
}
.bio {
  font-size: 9px;
  font-style: italic;
}
.holographic {
  border: 3px solid gold;
  border-radius: 3px;
  background-image: url('./images/holo.png');
}