html {
  background-color: darkblue;
}
.full-page {
  background-color: darkblue;
  color: black;
  height: 100vh;
  padding-top: 15px;
}
.card, .input-group {
  margin: 0 auto;
}
.input-group {
  justify-content: center;
}
.card {
  border: 3px solid gold;
  background-color: lightgray;
  padding: 3px 12px;
}
.card-body {
  font-size: 12px;
}
.bio {
  font-size: 9px;
  font-style: italic;
  background-color: gold;
  padding: 2px;
}
.holographic {
  border: 3px solid gold;
  border-radius: 3px;
  background-image: url('./images/holo.png');
}
.page-footer {
  border-top: 1px solid white;
  background-color: darkblue;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.page-footer .container-fluid .row {
  justify-content: center;
  text-align: center;
}
.row a {
  margin-left: 3px;
}
a {
  color: yellow;
  font-weight: bold;
}
a:hover {
  color: yellow;
}